#card {
    width: 200px;
    height: 300px;
    border: 2px solid black;
    display: inline-block;
    margin: 30px;
    border-radius: 5.5px;
    box-shadow: 0 4px 8px black;
    transition: 0.5s;
}

img {
    width: 100%;
    border-radius: 3px 3px 0 0;
}

#details {
    padding: 10px;
}

#card:hover {
    box-shadow: 0 8px 16px black;
}
