h1 {
    text-align: center;
}

#item:nth-of-type(2n+1) {
    background-color: aquamarine;
}

#item:nth-of-type(2n) {
    background-color: darkorange;
}

#item:nth-of-type(3n) {
    background-color: mediumpurple;
}

.container {
    width: 800px;
    height: 300px;
    background-color: rgb(188, 188, 47);
    border: 2px solid crimson;
    display: grid;
    /* grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px; */
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    /* row-gap: 10px;
    column-gap: 10px; */
    grid-gap: 10px 20px;
}

#item {
    /* width: 80px;
    height: 40px; */
    border: 2px solid black;
    text-align: center;
}
