h1 {
    color: blue;
    background-color: gray;
    text-align: center;
}

h2 {
    color: maroon;
    background-color: yellow;
}

li {
    font-size: 25px;
    font-family: arial;
}

#px {
    font-size: 20px;
}
