h1 {
    text-align: center;
    color: yellow;
    background-color: gray;
}

h2 {
    color: maroon;
}

p {
    line-height: 1.5;
}

#p1 {
    background-color: violet;
}

#p2 {
    color: white;
    background-color: indigo;
}
