h1 {
    text-align: center;
    color: maroon;
    background-color: wheat;
}

h2 {
    text-align: center;
}

#sideBtn {
    text-decoration: none;
    color: white;
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
}

button {
    background-color: rgb(161, 50, 50);
    padding: 8px 8px;
    border: 2px solid brown;
    border-radius: 2rem;
    color: white;
}

button:hover {
    cursor: pointer;
}

#middle {
    background-color: beige;
    width: 600px;
}

.post {
    background-color: maroon;
}

.username {
    font-style: italic;
    padding: 5px 10px;
    color: wheat;
}

.content {
    color: white;
    padding: 5px 10px;
}

#postBtn {
    display: flex;
    flex-direction: row;
}

#viewBtn,
#editBtn {
    margin: 5px;
    padding: 5px 8px;
    border: 2px solid brown;
    border-radius: 15px;
    background-color: burlywood;
    text-decoration: none;
    color: black;
    font-size: x-small;
    font: bold;
}

form {
    margin: 30px 180px;
    border: 2px solid brown;
    padding: 20px;
    background-color: burlywood;
}

input {
    height: 30px;
}

textarea {
    height: 150px;
}

#right,
#left {
    background-color: grey;
    justify-items: center;
    width: 450px;
    height: 645px;
}
