<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account & Settings</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Quora: Account Details& Settings</h1>
    <hr>
    <div id="flex-container">
        <div id="right">
            <h3><a href="http://localhost:8080/" id="sideBtn">Home</a></h3>
            <h3><a href="http://localhost:8080/posts/new" id="sideBtn">New Post</a></h3>
            <h3><a href="http://localhost:8080/posts" id="sideBtn">View All Posts</a></h3>
        </div>
        <div id="middle">
            <% for(post of posts) { %>
                <div class="post">
                    <h2>
                        @ <%= post.username %>
                    </h2>
                    <br>
                    <br>
                </div>
                <% } %>
        </div>
        <div id="left">
            <h3><a href="/settings" id="sideBtn">Account Details</></a></h3>
            <h3><a href="/settings" id="sideBtn">Settings</a></h3>
        </div>
    </div>
</body>

</html>
