<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS: Home Page Template</title>
</head>

<body>
    <h1>Home Page (Root page '/')</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur aspernatur debitis ratione nesciunt quasi, aut
        laudantium cum incidunt sint optio tempora labore inventore consequuntur perspiciatis? Nulla, animi deserunt,
        iste delectus unde eveniet praesentium accusantium pariatur labore eos impedit ipsum accusamus commodi
        consequatur cum! Similique dicta sunt adipisci quod unde quos?.
    </p>
    <button>click me</button>
</body>

</html>
